mat-toolbar {
    display: flex;
    justify-content: space-between;
    flex-wrap: no-wrap;
    padding: .5rem 1.5rem;
}

mat-toolbar > div {
    width:40%;
    height: 100%;
}

mat-toolbar > div:last-child {
    text-align: right;
}

mat-toolbar > div:last-child > button {
    background: rgba(0,0,0,0);
    color: white;
    border: none;
    height: 100%;
    width: 50%;
    margin-left: auto;
    cursor: pointer;
}


mat-toolbar > div:last-child > button div {
    width: 40px;
    height: 5px;
    background: white;
    margin-bottom: 6px;
    border-radius: 25px;
    margin-left: auto;
}

mat-toolbar > div:last-child > button div:last-child {
    margin-bottom: 0;
}

mat-toolbar > div > a > img {
    height: 100%;
    cursor: pointer;
}

span.username {
    color: var(--theme-blue-accent);
    margin-left: 1rem;
    display: inline-block;
    height: 100%;
    transform: translateY(-30%);
}

mat-menu {
    font-family: inherit;
}

.show-mobile {
    display: block;
}

.show-desktop {
    display: none;
}

@media only screen and (min-width: 600px) {
    mat-toolbar {
        padding: .5rem 1.5rem;
    }
}

@media only screen and (min-width: 700px) {

    mat-toolbar > div:last-child {
        width: 60%;
    }

}

@media only screen and (min-width: 900px) {
    .show-mobile {
        display: none;
    }
    .show-desktop {
        display: block;
        height: 100%;
    }

    .show-desktop ul {
        display: flex;
        justify-content: flex-end;
        height: 100%;
    }

    .show-desktop ul li {
        margin-left: 2rem;
        text-align: right;
    }

    .show-desktop ul li a,
    .show-desktop ul li button {
        display: block;
        padding: .5rem 0;
        height: 100%;
        font-size: 1rem;
    }
    mat-toolbar {
        padding: .5rem 2rem;
    }
}